.ChooseCategory{
    background: linear-gradient(235deg, rgba(131,56,236,1) 10%, rgb(0, 0, 0) 100%);
    width: 300px;
    height: 60px;
    border-radius: 10px;
    color: #ffffff;
    font-family: Arial ;
    font-size: 23px;
    font-weight: 700;
    padding-left: 10px;
    margin-top: 50px;
    cursor: pointer;
}
*{
    background-color: #1c1c1c;
}
.card{
    list-style: none;
    width: 900px;
    height: 220px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    border-radius: 4px;
    transition: 0.2s;
    position: relative;
    margin-top: 50px;

}
.card:hover {
    box-shadow: 4px 8px 16px #8338ec70;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card_img{
    flex: 0 0 220px;
    position: relative;
    overflow: hidden; 
}

.cardText{
    display: flex;
    flex-direction: column;
    flex: 1 0 auto; 
    padding: 10px;
}

.cardTitle{
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap-reverse;
    font-family: Arial ;
}

.cardDes{
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 17px;
    width: 660px;
    line-height: 150%;
    color: #ffffff;
    font-family: Arial ;
}

.cardMore {
    display: block;
    width: 97%;
    font-weight: 400;
    font-family: Arial Black;
    font-size: 17px;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    cursor: pointer; 
    transition: 0.2s;
    margin-top: auto; 
}


.cardMore:hover {
    border: 1px solid #8338EC;
    background-color: #8338EC;
    color: #000000;
}

.paginationButton {
    padding: 10px 20px;
    height: 50px;
    width: 111px;
    margin: 50px;
    background-color: #8338EC;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial Black;
}
.paginationButton:disabled {
    background-color: #494949;
    cursor: default;
}
.paginationButton.active {
    background-color: #8338EC;
    color: white;
}

.undefined{
    padding: 8px 16px;
    margin: 55px 5px;
    border: 1px solid #8338EC;
    border-radius: 5px;
    background-color: #ffffff00;
    cursor: pointer;
    font-family: Arial Black;
    color: #ffffff;
}
.undefined:hover {
    background-color: #8338ec81;
    color: #fff;
}

.Paginate{
    display: flex;
    justify-content: center;
}

.body{
display: flex;
flex-direction: column;
}
.Container{
    display: flex; 
    width: 80%; 
    margin: 0 auto; 
    display: flex;
}
