.headerContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    background-color: #607d8bc0;
    width: 100%;
    border-radius: 100px;
    text-transform: uppercase;
    font-family: Arial Black;
    color: #ffffff;
}

.logo{
    background-image: url(./Group\ 1\ \(2\).png);
    width: 55px;
    height: 73px;
    cursor: pointer;
}

.headerTitle{
    display: flex;
}
.htit{
    font-size: 20px;
    margin-right: 50px;
    cursor: pointer;
}

.htit:hover{
    color: #3a4b53;
}

.hbtn{
    font-size: 20px;
    background-color: rgba(238, 234, 234, 0) ;
    color: #ffffff;
    font-weight: 700;
    height: 59px;
    width: 248px;
    border: 1px solid #607d8b;
    border-radius: 50px;
    cursor: pointer;
}
.hbtn:hover{
    background-color: #607d8b;
}
